{{/* {{ if site.Params.comments.giscus }}
<script src="https://giscus.app/client.js" data-repo="{{site.Params.comments.giscus.repo}}"
    data-repo-id="{{site.Params.comments.giscus.repo_id}}" data-category="{{site.Params.comments.giscus.category}}"
    data-category-id="{{site.Params.comments.giscus.category_id}}"
    data-mapping="{{site.Params.comments.giscus.mapping}}"
    data-reactions-enabled="{{site.Params.comments.giscus.reactions_enabled}}"
    data-theme="{{site.Params.comments.giscus.theme}}" crossorigin="anonymous" async>
    </script>
<noscript>Please enable JavaScript to view the comments powered by giscus.</noscript>
{{ end }} */}}
<div class="giscus">

    <script>
        function getGiscusTheme() {
            const preferredTheme = localStorage.getItem("pref-theme");
            const giscusTheme = preferredTheme == null || preferredTheme == "light" ? "light" : "dark";
            return giscusTheme;
        }

        function setGiscusTheme() {
            function sendMessage(message) {
                const iframe = document.querySelector('iframe.giscus-frame');
                if (!iframe) return;
                iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
            }
            sendMessage({
                setConfig: {
                    theme: getGiscusTheme() == "light" ? "dark" : "light",
                },
            });
        }

        const attrs = {
            "src": "https://giscus.app/client.js",
            "data-repo": "bbokser/bbokser.github.io",
            "data-repo-id": "R_kgDOGxN6Pg",
            "data-category": "Announcements",
            "data-category-id": "DIC_kwDOIWVKbs4CSTz_",
            "data-mapping": "title",
            "data-strict": "0",
            "data-reactions-enabled": "1",
            "data-emit-metadata": "0",
            "data-input-position": "bottom",
            "data-theme": getGiscusTheme(),
            "data-lang": "en",
            "crossorigin": "anonymous",
            "async": ""
        };

        const giscusScript = document.createElement("script");
        Object.entries(attrs).forEach(([key, value]) => giscusScript.setAttribute(key, value));
        document.body.appendChild(giscusScript);

        const toggle = document.querySelector('#theme-toggle');
        if (toggle) {
            toggle.addEventListener('click', setGiscusTheme);
        }
    </script>

    <noscript>Please enable JavaScript to view the comments</noscript>